/*CSS Inyong*/
* {
	margin: 0;
	font-family: Helvetica;
	transition: all 0.7s;
}
body{
	overflow-x: hidden;
}
.awalan {
	width: 100%;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	height: 100vh;
	position: relative;
}
.tengahin {
	margin: auto;
	max-width: 300px;
	height: 100%;
	color: white;
	position: relative;
}
/*Namaku */
.myname{
	color: #005555;
	font-weight: bold;
}
/* Ini buat menunya */
.garis-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
label[for="garis-trigger"] {
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("images/menuki.svg");
  background-size: contain;
}
.menune {
    list-style: none;
    background: #005555;
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 0;
}
.imenu {
  width: 200px;
}
.imenu a {
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}
.imenu a:hover {
  color: #005555;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
a.menu-aktif{
	color: #005555;
  	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);	
}
.garis-trigger:checked + label {
	left: 215px;
}
.garis-trigger + label {
	transition: all 0.5s;
}
.garis-trigger:checked ~ .awalan {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
/* Rampungan menu */

/*Judul tengah */
.tengahin .main-title{
	position: absolute;
	max-height: 30px;
	font-size: 6vh;
	width: 100%;
	text-align: center;
	letter-spacing: 3px;
	top: 2vh;
}
.tengahin .sub-title{
	position: absolute;
	max-height: 30px;
	font-size: 3.5vh;
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
	top: 9vh;
}
.tengahin .main-title:hover {
	color: #005555;
}
.tengahin .bulet{
	max-height: 20vh;
	max-width: 20vh;
	position: relative;
	top: 24vh;
	margin: auto;
	display: block;
}
.title{
	position: relative;
	top: 28vh;
	height: 30vh;
	border: 3px solid white;
	border-style: dashed hidden hidden;
}
/*end Judul tengah */

/*Tombol di tengah */
.tombool{
	position: absolute;
	width: 100%;
	top: 15vh;
	font-size: 2.5vh;
}
.tombol-mn{
	width: 47%;
	text-align: center;
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 2px;
	border: 1px solid white;
	border-radius: 2px;
	color: #1fc8db;
	font-weight: bold;
	background: white;
}
.tombol-mn:hover{
	background-color: #005555;
	color: white;
	border-color: #005555;
}
/* end Tombol di tengah */

/* Copyleft */
.copyleft{
	position: absolute;
	bottom: 0px;
	color: white;
}
.icopy{
	font-size: 20px;
	display:inline-block;
  	transform: rotate(180deg);
}
/* end Copyleft */

/* CSS TAB */
.resume-box{
	width: 100%;
	position: relative;
	padding-top: 50px; 
}
main {
  width: 100%;
}
section {
  display: none;
  padding: 20px 0 0;
}
input {
  display: none;
}
label.tabbe {
  display: inline-block;
  width: 15%;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #005555;
  opacity: 0.5;
}

label.tabbe:hover {
  color: #ffffff;
  background: rgba(240,240,240,0.4);
  cursor: pointer;
  opacity: 1;
}

input:checked + label.tabbe {
  color: white;
  background: #005555;
  opacity: 1;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
}
.mid-name{
	position: relative;
	width: 100%;
	text-align: center;
}
.big-hello{
	width: 100%;
	font-size: 13vw;
	display: block;
	letter-spacing: 1.5vw;
	text-shadow: 5px 5px 0px #005555;
	font-weight: bold;
}
.under-hello{
	display: block;
	width: 100%;
	font-size: 3vw;
	letter-spacing: 0.7vw;
	font-weight: bold;
	color: #00cccc;
	background: #000000;
}
.under-hello:hover{
	background: #ffffff;
	color: #005555;
}
/* end CSS TAB */


/* Tab */
.resumee-box{
	width: 100%;
	height: 100%;
	position: relative;
}
.myres{
	position: absolute;
	display: block;
	margin: auto;
	top: 45%;
	color: white;
	font-size: 10vh;
}

.boxe-1{
	width: 100%;
	position: relative;
	height: 90%;
	color: white;
}
.boxe-1 article.tabs{
	width: 100%;
	height: 100%;
}
article.tabs section{
	position: absolute;
	top: 12%;
	height: 80%;
	width: 100%;
	padding: 10px 20px;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	z-index: 0;
}
article.tabs section:first-child{
	z-index: 1;
	display: block;
}
article.tabs section:target{
	z-index: 2;
	display: block;
}

/* Box 2 */
.boxe-2{
	width: 100%;
	position: relative;
	height: 10%;
	text-align: center;
}
.boxe-2 a{
	width: 19%;
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: #005555;
	color: white;
	padding: 5px;
}
/* End tab */